<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Định nghĩa pattern để format log -->
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n"/>

    <!-- Appender để ghi log ra console -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Appender để ghi log ra file -->
    <appender name="DAILY_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/app_log.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- Doi ten file sau khi sang ngay moi -->
            <fileNamePattern>logs/app_log.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Logger cấu hình -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="DAILY_FILE" />
    </root>

</configuration>